In [1]:
import pandas as pd

In [2]:
fruits = pd.Series([10,6,3],['apples','orange','bananas'])
fruits

apples     10
orange      6
bananas     3
dtype: int64

In [3]:
fruits + 2

apples     12
orange      8
bananas     5
dtype: int64

In [4]:
fruits - 2

apples     8
orange     4
bananas    1
dtype: int64

In [5]:
fruits * 2

apples     20
orange     12
bananas     6
dtype: int64

In [6]:
fruits / 2

apples     5.0
orange     3.0
bananas    1.5
dtype: float64

In [7]:
import numpy as np

In [8]:
fruits

apples     10
orange      6
bananas     3
dtype: int64

In [9]:
np.sqrt(fruits)

apples     3.162278
orange     2.449490
bananas    1.732051
dtype: float64

In [10]:
np.exp(fruits)

apples     22026.465795
orange       403.428793
bananas       20.085537
dtype: float64

In [11]:
np.power(fruits, 2)

apples     100
orange      36
bananas      9
dtype: int64

In [12]:
fruits['bananas'] + 2

5

In [13]:
fruits.iloc[0] - 2

8

In [14]:
fruits[['apples','orange']] * 2

apples    20
orange    12
dtype: int64

In [15]:
fruits.loc[['apples', 'orange']] / 2

apples    5.0
orange    3.0
dtype: float64