In [1]:
import pandas as pd

In [4]:
items = {
    'Bob': pd.Series([245, 25, 55],index=['bike', 'pants', 'watch']),
    'Alice': pd.Series([40, 110, 500, 45],index=['book', 'glassess', 'bike', 'pants'])
}

type(items)

dict

In [5]:
shopping_carts = pd.DataFrame(items)
shopping_carts

          Alice    Bob
bike      500.0  245.0
book       40.0    NaN
glassess  110.0    NaN
pants      45.0   25.0
watch       NaN   55.0

In [6]:
data = {
    'Bob': pd.Series([245, 25, 55]),
    'Alice': pd.Series([40, 110, 500, 45])
}
df = pd.DataFrame(data)
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

In [7]:
shopping_carts.index

Index(['bike', 'book', 'glassess', 'pants', 'watch'], dtype='object')

In [8]:
shopping_carts.columns

Index(['Alice', 'Bob'], dtype='object')

In [9]:
shopping_carts.values

array([[ 500.,  245.],
       [  40.,   nan],
       [ 110.,   nan],
       [  45.,   25.],
       [  nan,   55.]])

In [10]:
shopping_carts.shape

(5, 2)

In [11]:
shopping_carts.ndim

2

In [12]:
shopping_carts.size

10

In [14]:
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [15]:
sel_shopping_cart = pd.DataFrame(items, index=['pants', 'book'])
sel_shopping_cart

       Alice   Bob
pants     45  25.0
book      40   NaN

In [18]:
alice_sel_shopping_cart =  pd.DataFrame(items, index=['glassess', 'bike'], columns=['Alice'])
alice_sel_shopping_cart

          Alice
glassess    110
bike        500

In [19]:
data = {
    'integers': [1, 2, 3],
    'floats': [4.5, 8.2, 9.6]
}

df = pd.DataFrame(data)
df

   floats  integers
0     4.5         1
1     8.2         2
2     9.6         3

In [20]:
items = [
    {'bike':20, 'pants': 30, 'watches':35},
    {'watches':10, 'glassess': 50, 'bikes': 15, 'pants': 5}
]
stored_items = pd.DataFrame(items)
stored_items

   bike  bikes  glassess  pants  watches
0  20.0    NaN       NaN     30       35
1   NaN   15.0      50.0      5       10

In [21]:
stored_items = pd.DataFrame(items, index=['store 1', 'store 2'])
stored_items

         bike  bikes  glassess  pants  watches
store 1  20.0    NaN       NaN     30       35
store 2   NaN   15.0      50.0      5       10